.container {
  width: 208px;
  border-radius: var(--radius);
  height: 36px;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;

}
.text {
  color: var(--deep-gray);
  margin-left: 10px;
}