.container {
  min-width: 320px;
  width: 100vw;
  height: 100vh;
  padding: 20px 30px;
  width: 100%;
  border-right: 1px solid var(--gray);
  border-left: 1px solid var(--gray);
  margin-left: 5px;
}
.dateWrapper {
  width: 100%;
  text-align: center;
}
.date {
  margin-top: 20px;
  color: var(--deep-gray);
  font-size: 14px;
}
.title {
  margin: 20px 0;
}

.emptyContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--gray);
  white-space: nowrap;
  padding: 20px;
  border-left: 1px solid var(--gray);
  margin-left: 5px;
}
