.container {
  padding: 20px 30px;
  width: 100%;
}
.dateWrapper {
  width: 100%;
  text-align: center;
}
.date {
  margin-top: 20px;
  color: var(--deep-gray);
  font-size: 14px;
}
.title {
  margin: 20px 0;
}